@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap");

:root {
  font-size: 1vh;
}

body {
  height: 100%;
  margin: 0 2.5vw;
  font-family: "Lato", sans-serif;
  background-image: url("../img/alt_bg.jpg");
  background-size: 20%;
  color: #0a0703;
}

a {
  color: rgb(117, 140, 80);
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: rgb(55, 110, 53);
}

li {
  padding-left: 0.5rem;
  list-style-type: "◆";
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0 0px;
}

.header {
  display: flex;
  height: 35vh;
  background-image: linear-gradient(
      rgba(245, 206, 199, 0.5),
      rgba(245, 206, 199, 0.8) 80%
    ),
    url(../img/header.png);
  background-size: 100%;
  background-position: 50% 60%;
  display: flex;
  justify-content: center;
}

.header h1 {
  font-size: 8vmax;
  font-family: "Sacramento", cursive;
  color: #0a0703;
  text-shadow: 4px 4px 0px rgba(231, 151, 150, 1);
  margin: auto;
}

.links {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #ffc98b;
  text-align: center;
  font-size: 1.5vmax;
  padding: 1.5rem 1rem
}

.sidebar {
  background-color: #ffb284;
  width: 20%;
  font-size: 2rem;
  padding: 0.5vw 1vmin 0vw;
}

.sidebar li {
  margin-left: -1rem;
}

.sidebar h1, .sidebar h2, .sidebar h3 {
  font-family: "Roboto Slab", serif;

}

.sidebar h1 {
  font-weight: 500;
  font-size: 3rem;
}

.sidebar h2 {
  margin-left: 0.90rem;
  font-size: 2.5rem;
}

.sidebar h3 {
  margin-left: 0.75rem;
  font-size: 2rem;
}

span.underline {
  border-bottom: 2px dashed #0a0703;
}

.body {
  display: block;
  width: 80%;
  height: 100%;
  background-color: #f5eeec;
  font-size: 2.5rem;
  padding: 0.25vw 2vw 1vw;
}

.body h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
}

.body h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 3rem;
}

.body p.footer {
  font-style: italic;
  font-size: 1.5vmin;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

/* Tables */
table {
  width: 100%;
}

td.head {
  font-weight: bold;
  background-color: #ffc98b;
  padding: 0.5rem 0.25rem;
  text-align: center;
}

td {
  background-color: white;
  padding: 0.25rem 0.5rem;
}

tr td:first-child {
  text-align: center;
}