.container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  margin-left: 12px;
  cursor: pointer;
  font-size: 12pt;
  font-family: 'Work Sans', sans-serif;
  color: #232946;
  background-color: #eebbc3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* On mouse-over, add a grey background color */
.container:hover {
  background-color: #f5d6db;
}

/* When the radio button is checked, add a blue background */
.container input:checked {
  background-color: #2196F3;
}

/* Style the indicator (dot/circle) */
.container:after {
	background: #e699a4;
}
