/* RESPONSIVE DESIGN */

* {
  box-sizing: border-box;
}

.container {
  padding: 64px;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both
}

/* 2/3 column */
.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/3 column */
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
}

/* Actual style in this damn house */

body {
  background-image: url(../img/bg.png);
  background-size: 50%;
  background-color: white;
}

.infobox {
  background-color: white;
}

intro {
  background-image: url(../img/haak_nian_234.png);
  background-size: 100%;
  background-position-y: 35%;
  background-position-x: center;
  background-repeat: no-repeat;
}
