/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* Here are my fonts.
Sourced from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Please work. Please work. */

body {
  background-color: #232946;
}

h1 {
  font-family: 'Elsie', cursive;
  font-size: 50pt;
  text-align: center;
  color: #fffffe;
  margin-bottom: 0;
}

h2 {
  font-family: 'Elsie', cursive;
  font-size: 30pt;
  text-align: center;
  color: #fffffe;
  margin: 20pt auto;
}

div.reg {
  padding: 10pt;
  margin-left: 160pt;
  margin-right: 160pt;
  margin-top: 10pt;
  border-radius: 10pt;
  position: relative;
}

div.reg.navi {
  padding: 10pt;
  margin-left: 200pt;
  margin-right: 200pt;
  border-radius: 10pt;
  position: relative;
}

div.clock {
  width: 15%;
  margin: 0 auto;
}

p.A.clock {
  font-size: 8pt;
}

p.A {
  text-align: justify;
  color: #b8c1ec;
  font-size: 13.5pt;
  font-family: 'Work Sans', sans-serif;
  text-indent: 10pt;
  line-height: 1.5;
}

p.Aa {
  text-align: justify;
  color: #b8c1ec;
  font-size: 10pt;
  font-family: 'Work Sans', sans-serif;
  text-indent: 10pt;
  line-height: 1.5;
}


a.A {
  color: #b8c1ec;
  text-decoration: none;
  font-weight: bold;
}

ul.A {
  list-style-type: "⟶ ";
  text-align: justify;
  color: #eebbc3;
  font-size: 13.5pt;
  font-family: 'Work Sans', sans-serif;
}

ul.B {
  list-style-type: "🠚 ";
  text-align: justify;
  color: #eebbc3;
  font-size: 11pt;
  font-family: 'Work Sans', sans-serif;
}

/* sidebar code */

.sidebar {
height: 100%;
width: 180px;
position: fixed;
left: 0;
top: 15pt;
padding-top: 40px;
}

.sidebar div {
padding: 8px;
font-size: 24px;
display: block;
}

.body-text {
margin-left: 150px;
font-size: 18px;
}

/* Funky animated text. */
@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
