@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: #3B1266;  
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E5FBFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23E3B3EE' fill-opacity='0.52' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}


#popupOverlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 18, 102, 0.8);
}

.popup {
    display: none;
    position: absolute;
    width: 40vw;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1.5pt solid rgba(59, 18, 102, 1);
    border-radius: 1rem;
    font-size: 0.5rem;
    padding: 0.5rem 1.0rem;
}

.popupTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupTitle button {
    font-size: 1rem;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    border: none;
    background-color: #E382B9;
    color: white;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupColumn {
    display: flex;
}

.popupColumn .single {
    width: 50%;
}

#instructions { display: none; }

#changelog { display: none; }

span.rainbowGradient {
    font-weight: bold;
    background: rgb(230,69,110);
    background: linear-gradient(90deg, rgb(161, 40, 71) 0%, rgb(241, 121, 51) 12.5%, rgb(255, 219, 120) 25%, rgb(187, 230, 80) 37.5%, rgb(109, 221, 109) 50%, rgb(137, 230, 235) 62.5%, rgb(84, 171, 211) 75%, rgb(42, 83, 194) 87.5%, rgb(99, 55, 192) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.5rem;
}

h1 {
    font-size: 2rem;
    font-family: "Leckerli One", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0.15rem 0.15rem 0px #E382B9;
    /* formatting nonsense */
    margin: 1rem auto 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1rem;
    font-family: "Leckerli One", serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.header .controls {
    width: 32.5%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.header .controls button {
    opacity: 100%;
}

#loadInstructions { transform: rotate(4deg);}

#loadChangelog { transform: rotate(-8deg);}

#app {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75em;
}

.controls button {
    width: 100%;
    font-size: 0.60rem;
    padding: 4px 16px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0.15rem 0.15rem 0px #3B1266;
    color: #3B1266;
    opacity: 0.6;
}

.controls button:active {
    opacity: 1;
}

hr {
    border: 1pt dashed #3B1266;
    margin: 0;
}

.tools button {
    padding: 4px 8px;
}

#normal {
    transform: rotate(1.5deg);
}

#rainbow {
    background: rgb(230,69,110);
    background: linear-gradient(90deg, rgba(230,69,110,1) 0%, rgba(250,244,152,1) 25%, rgba(119,211,255,1) 75%, rgba(196,182,227,1) 100%);
    transform: rotate(-3deg);
}

#trickle { transform: rotate(1.5deg); }

#pen {transform: rotate(2.5deg);}

#eraser {transform: rotate(-5deg);}

#clear { transform: rotate(-4deg);
opacity: 1;}

#canvasDimensionDisplay {
    font-size: 0.75rem;
    text-align: center;
}

#slideContainer {
    width: 100%
}

#dimensionSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full-width */
    height: 1em; /* Specified height */
    background: #3B1266;
    border-radius: 4px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
#dimensionSlider:hover {
opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle  */
#dimensionSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 1em;
    background: #E382B9; 
    cursor: pointer; 
}

#dimensionSlider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 1em;
    background: #E382B9;
    cursor: pointer; 
}

.tools {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

div#canvas {
    /* make this shit flex! */
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    margin: 1rem 0;
    min-width: 12.5em; max-width: 12.5em;
    min-height: 12.5em; max-height: 12.5em;
    border-left: 5pt solid #3B1266;
    border-right: 5pt solid #3B1266;

}

.rowPiece {
    display: flex;
    flex-direction: row;
    width: inherit;
}

div.pixel {
    margin: -1px; 
    background-color: white;
    border: 2pt solid rgba(59, 18, 102, 0.1);
}

#colorSelection {
    display: flex;
    width: 132px;
    flex-wrap: wrap;
    justify-content: center;
}

.colorSwatch {
    height: 1em;
    width: 1em;
    border: 1.5pt solid rgba(59, 18, 102, 1);
    border-radius: 4px;
    margin: 1pt;
    opacity: 0.6;
    cursor: pointer;
}


.footer {
    font-size: .45em;
    text-align: center;
    margin-bottom: 0;
}